---

---

<section class="w-48 rounded-sm border">
    <a href="" class="w-full flex-col flex p-2">
        <img class="w-full h-40" src="" alt="product-view" />
        <span class="font-bold line-clamp-2"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
            fugit.</span
        >
        <span class="text-xl">$9999.99</span>
    </a>
</section>
