---
import CartProductSelector from "../components/product/CartProductSelector";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full flex flex-col justify-center items-center">
        <CartProductSelector client:load />
    </div>
</Layout>
