---
import { getCollection } from "astro:content";
import Product from "../components/product/Product.astro";
import Layout from "../layouts/Layout.astro";

const products = await getCollection("products");
---

<Layout>
	<article class="w-full flex justify-center items-center flex-col">
		<section
			class="gap-8 sm:w-3/4 lg:w-1/2 w-full grid grid-cols-1 sm:grid-cols-3 p-5 sm:p-0"
		>
			{products.map((product) => <Product product={product.data} />)}
		</section>
	</article>
</Layout>
