---
import { CheckoutForm } from "../../components/checkout/CheckoutForm"
import { CheckoutProducts } from "../../components/checkout/CheckoutProducts"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <article class="w-full flex">
        <section class="flex-1">
            <CheckoutForm />
        </section>
        <section class="flex-1">
            <CheckoutProducts />
        </section>
    </article>

</Layout>
