
---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    
    <article class="w-full flex">
        <section class="flex-1">
            <form action="">

                


            </form>
        </section>
        <section class="flex-1">
            
        </section>
    </article>

</Layout>
